@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
   @Html.ActionLink("Empregados", "Index", "Empregado") <br>
   @Html.ActionLink("Dependentes", "Index", "Dependente")<br>
    @Html.ActionLink("Departamentos", "Index", "Departamento")<br>
    @Html.ActionLink("Projetos", "Index", "Projeto")<br>
</div>


