@{
    ViewData["Title"] = "Locais";
    @model List<Local>
}

<div class="text-center">
    <h1 class="display-4">Locais</h1>
</div>


<div>
  <table class="table">
        <tr>
          
          <th>Departamento</th>
          <th>Nome</th>
          
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Departamento </td>
                <td>@item.Nome </td>
               
            </tr>
        }
        
  
  </table>
</div>

